body {
    background-color: rgb(230, 233, 235);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: black;
    padding: 8px;
    width: 400px;
    height: 650px;
    margin: 20 auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.display {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.display-input {
    color: grey;
    font-size: 56px;
    margin: 10px 48px 0px auto;
}

.display-output {
    color: white;
    font-size: 72px;
    margin: 10px 44px 0px auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 columns */
    grid-gap: 5px; 
    overflow-x: auto; 
    gap: 16px;
    margin: 10px auto;
  }

button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 24px;
    border: none;
}

.buttons button.active {
    background-color: #f0f0f0;
}

.zero-button {  
    grid-column: span 2; 
    width: 100%; 
    color: white;
    background-color: rgba(37, 36, 36, 0.452); 
    width: 166px;
    height: 70px;
    border-radius: 10px;
}

.decimal-button {
    background-color: rgba(37, 36, 36, 0.452);
    color: white;
}

button.operand-shortcut {
    background-color: darkgray;
    color: black;
}

button.operand,
button.equals-button {
    background-color: orange;
    color: white;
}



button.number {
    background-color: rgba(37, 36, 36, 0.452);
    color: white;
}

